#define BULLET_HIDE(x,from,count) class Bullet##x\
			{\
				type="hide";\
				source="revolving";\
				sourceAddress="mirror";\
				selection=bullet##x;\
				minValue=-1.000000;\
				maxValue= 0.000000;\
				hideValue=((count+x-from-2)/count)+0.00001;\
			};
class CfgSkeletons
{
	class Tank;
	class M113Skeleton: Tank
	{
		skeletonInherit="tank";
		skeletonBones[]=
		{
			"driver_seat","",
			"damageDriver","driver_seat",
//			"OtocHlaven","",
			"damageHlaven","OtocHlaven",
//			"magazine","OtocHlaven",
//			"ammo_belt","OtocHlaven",
//			"recoil","OtocHlaven",
//			"feedtray_cover","OtocHlaven",
//			"charging_handle","OtocHlaven",
			"mph","",
			"rpm","",
			"rpm1","",
			"rpm2",""
		};
	};
	class M113_M2_Skeleton: Tank
	{
		skeletonInherit="M113Skeleton";
		skeletonBones[]=
		{
			"ammo_belt","OtocHlaven_Shake",
			"OtocHlaven_Shake","OtocHlaven",
			"bolt","OtocHlaven_Shake",
			"recoil","OtocHlaven_Shake",
			"charging_handle","OtocHlaven_Shake",
			"magazine","OtocHlaven_Shake",
			"feedtray_cover","OtocHlaven_Shake",
			"bullet001","bullet002",
			"bullet002","bullet003",
			"bullet003","bullet004",
			"bullet004","bullet005",
			"bullet005","bullet006",
			"bullet006","bullet007",
			"bullet007","bullet008",
			"bullet008","bullet009",
			"bullet009","bullet010",
			"bullet010","bullet011",
			"bullet011","bullet012",
			"bullet012","ammo_belt"
		};
	};
};
class Rotation;
class CfgModels
{
	class Vehicle;
	class Tank: Vehicle
	{
		class Animations
		{
			class HatchDriver;
//			class IndicatorSpeed;
//			class IndicatorRPM;
			class poklop_driver_damage;
			class damageHide;
		};
	};
	class m113_ambulance: Tank
	{
		sectionsInherit="Tank";
		sections[]={"Camo"};
		skeletonName="M113Skeleton";
		class Animations: Animations
		{
			class HatchDriver: HatchDriver
			{
				angle1="rad 175";
			};
			class IndicatorSpeed: Rotation
			{
				source="speed";
				selection="mph";
				axis="mph_axis";
				memory=1;
				maxValue=16.670000;
				angle0=-2.268928;
				angle1=2.268928;
			};
			class IndicatorRPM: Rotation
			{
				source="rpm";
				selection="rpm";
				axis="rpm_axis";
				memory=1;
				angle0=-0.436332;
				angle1=0.436332;
			};
			class RPM1: IndicatorRPM
			{
				selection="rpm1";
				axis="rpm1_axis";
				maxValue=2;
				angle0=2.1;
				angle1=-2.268828;
			};
			class RPM2: IndicatorRPM
			{
				selection="rpm2";
				axis="rpm2_axis";
				angle0=0.436332;
				angle1=-0.436332;
			};

/*			class IndicatorFuel: Rotation
			{
				type="rotation";
				source="fuel";
				selection="fuel_1";
				axis="fuel_1_axis";
				memory=1;
				minValue=0.000000;
				maxValue=1.000000;
				angle0=-0.087266;
				angle1=-1.658063;
			};*/

/*
			class IndicatorSpeed: IndicatorSpeed
			{
				maxValue=16.670000;
				angle0=-2.268928;
				angle1=2.268928;
			};
			class IndicatorRPM: IndicatorRPM
			{
				angle0=-0.436332;
				angle1=0.436332;
			};
*/
			class DriverSeat
			{
				type="translation";
				source="hatchDriver";
				angle0=0;
				angle1="rad -100";
				memory=1;
				selection="driver_seat";
				axis="driver_seat_axis";
				offset0=0;
				offset1=0.290000;
			};
			class poklop_driver_damage: damageHide
			{
				selection="poklop_driver";
			};
		};
	};
	class m113: m113_ambulance
	{
		skeletonName="M113_M2_Skeleton";
		class Animations: Animations
		{
			class MainTurret
			{
				type="rotationY";
				source="mainTurret";
				selection="OtocVez";
				axis="OsaVeze";
				animPeriod=0;
				memory=0;
				minValue="rad -360";
				maxValue="rad +360";
				angle0="rad -360";
				angle1="rad +360";
			};
			class MainGun: MainTurret
			{
				type="rotationX";
				source="mainGun";
				selection="OtocHlaven";
				axis="OsaHlavne";
			};
			class ObsTurret
			{
				type="rotationY";
				source="obsTurret";
				selection="OtocVelitele";
				axis="OsaVelitele";
				animPeriod=0;
				minValue="rad -360";
				maxValue="rad +360";
				angle0="rad -360";
				angle1="rad +360";
			};
			class ObsGun: ObsTurret
			{
				type="rotationX";
				source="obsGun";
				selection="OtocHlavenVelitele";
				axis="OsaHlavneVelitele";
			};
			class HatchGunner
			{
				animPeriod=0;
				type="rotation";
				source="hatchGunner";
				selection="poklop_gunner";
				axis="osa_poklop_gunner";
				angle0=-1.745329;
				angle1=0.000000;
			};
/*			class IndicatorSpeed: IndicatorSpeed
			{
				type="rotation";
				source="speed";
				selection="ukaz_rychlo";
				axis="osa_rychlo";
				memory=0;
				minValue=0.000000;
				maxValue=16.670000;
				angle0=-2.268928;
				angle1=2.268928;
			};
			class IndicatorRPM: IndicatorRPM
			{
				angle0=-0.436332;
				angle1=0.436332;
			};
*/
			class poklop_driver_damage: damageHide
			{
				selection="poklop_driver";
			};
			class poklop_gunner_damage: damageHide
			{
				selection="poklop_gunner";
			};
			class damageDriver: damageHide
			{
				selection="damageDriver";
			};
			class damageHlaven: damageHide
			{
				selection="damageHlaven";
			};
			class ammo_belt_rotation
			{
				type="rotationZ";
				source="ReloadAnim";
				selection="ammo_belt";
				axis="ammo_belt_axis";
				memory=1;
				sourceAddress="loop";
				minValue=0.000000;
				maxValue=1.0000;
				angle0=0.000000;
				angle1=-0.209440;
			};
			class Barrel_recoil:ammo_belt_rotation
			{
				type="translation";
				selection="recoil";
				axis="recoil_axis";
				sourceAddress="mirror";
				minValue=0.0;
				maxValue=0.5;
				offset0=0;
				offset1=-0.05;
			};
			class Bolt_recoil:Barrel_recoil
			{
				selection="bolt";
				offset0=0;
				maxValue=0.5;
				offset1=-0.25;
			};
			class Turret_shake:Barrel_recoil
			{
				selection="OtocHlaven_Shake";
				axis="osaveze";
				offset0=0;
				offset1=-0.002;
				maxValue=0.05;
			};
			class Turret_shake_aside:Turret_shake
			{
				axis="osahlavne";
				maxValue=0.05*1.3;
			};
			class Charging_handle_shake:Barrel_recoil
			{
				type="rotation";
				selection="Charging_handle";
				axis="Charging_handle_axis";
				sourceAddress="mirror";
				maxValue=0.005;
				angle0=0.000000;
				angle1=-0.1;
			};
			class Feedtray_cover_up
			{
				type="rotation";
				source="reloadMagazine";
				selection="feedtray_cover";
				axis="feedtray_cover_axis";
				memory=1;
				minValue=0.1000000;
				maxValue=0.130000;
				angle0=0.000000;
				angle1=-1.570796;
			};
			class Feedtray_cover_down:feedtray_cover_up
			{
				minValue=0.860000;
				maxValue=0.900000;
				angle0=0.000000;
				angle1=1.570796;
			};
			class Bolt_reload_begin:Bolt_recoil
			{
				type="translation";
				sourceAddress="clamp";
				source="reloadMagazine";
				minValue=0.00000;
				maxValue=0.0200000;
			};
			class Bolt_reload_end:bolt_reload_begin
			{
				minValue=0.050000;
				maxValue=0.070000;
				offset0=0;
				offset1=+0.25;
			};
			class Charging_handle_reload_begin:Bolt_reload_begin{selection="Charging_handle";};
			class Charging_handle_reload_end:Bolt_reload_end{selection="Charging_handle";};

			class Magazine_hide
			{
				type="hide";
				source="reloadMagazine";
				sourceAddress="mirror";
				selection="magazine";
				minValue=0.0;
				maxValue=0.5;
				hideValue=0.56;
			};

			BULLET_HIDE(001,12,100)
			BULLET_HIDE(002,12,100)
			BULLET_HIDE(003,12,100)
			BULLET_HIDE(004,12,100)
			BULLET_HIDE(005,12,100)
			BULLET_HIDE(006,12,100)
			BULLET_HIDE(007,12,100)
			BULLET_HIDE(008,12,100)
			BULLET_HIDE(009,12,100)
			BULLET_HIDE(010,12,100)
			BULLET_HIDE(011,12,100)
			BULLET_HIDE(012,12,100)
		};
	};
};